@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

@import 'tailwindcss';
@theme {
  --color-*: initial;
  --color-main-600: #b83700;
  --color-main-500: #e7620a;
  --color-main-400: #f89a00;
  --color-main-300: #ffdca2;
  --color-main-50: #fffbef;
  --color-green-light: #9ef9e8;
  --color-green-main: #03d8b1;
  --color-green-dark: #00a083;
  --color-purple-light: #dbb5ff;
  --color-purple-main: #b05bff;
  --color-purple-dark: #813dc1;
  --color-sky-light: #9de8fb;
  --color-sky-main: #00bdec;
  --color-sky-dark: #10819c;
  --color-pink-light: #ffa7b0;
  --color-pink-main: #f25267;
  --color-pink-dark: #aa2e3f;
  --color-mono-900: #0c0a09;
  --color-mono-800: #1c1917;
  --color-mono-700: #292524;
  --color-mono-600: #44403b;
  --color-mono-500: #57534d;
  --color-mono-400: #79716b;
  --color-mono-300: #a6a09b;
  --color-mono-200: #e7e5e4;
  --color-mono-100: #f5f5f4;
  --color-mono-050: #fafaf9;
}
@font-face {
  font-family: 'neurimboGothic';
  src: url('/fonts/neurimboGothicRegular.otf');
  display: swap;
  font-weight: normal;
  font-style: normal;
}
